.message{
    display: flex;
    padding: 20px;
    align-items: center;
    color: white;
}

.message__info{
    margin-left: 20px;
}

.message__timestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}